.footer
    .footer-content 
        h2 News Corp Australia 
        .links
            i fb 
            i tw 
            i insta 
            i yotube
        button Join 
        button Log In
    .info-links 
        div About 
            a(href="#") About
            a(href="#") The Team
            a(href="#") Privacy Policy
            a(href="#") Relevated Ads Opt-outs
            a(href="#") Cookie Policy
        div Membership 
            a(href="#") Membership
            a(href="#") Newsletters
            a(href="#") Membership Terms

        div Contact 
            a(href="#") Advertise With Us
            a(href="#") Travel Questions
            a(href="#") FAQs    
        