.footer
    .footer-content 
        h2 News Corp Australia 
        .links
            i fb 
            i tw 
            i insta 
            i yotube
        button Join 
        button Log In
    hr
    .info-links 
            
        